/* Footer */
.footer-container, .push {
    clear: both;
    height: 60px;
    z-index: 2;
    text-align:center;

}
.push{
    height: 80px !important;
}
.footer-container {
    background: #363636;
    border-top: 5px solid #898B8E;
    width: 100%;
    position: fixed;
    bottom: 0px !important;
}
.footer {
    clear: both;
    color: #e7e7e7;
    background: #363636;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display:inline-block;
}
.footer a{
    color: #F77D10;
}
.footer a:hover{
    color: #fcb271;
}
.footer-group {
    border-left: 2px solid #3a3732;
    display: inline-block;
    padding: 4px 12px;
}
.footer-group {
    z-index: 9999;
}
.footer .first {
    border-left: 0;
}

/** MISC **/
#comodo_secure{
    position: fixed;
    bottom: 0px;
    right: 6px;
}