.header_bar{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#249624+0,30ad29+49,2aaf47+57,3e9b47+100 */
    background: #249624; /* Old browsers */
    background: -moz-linear-gradient(top,  #249624 0%, #30ad29 49%, #2aaf47 57%, #3e9b47 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #249624 0%,#30ad29 49%,#2aaf47 57%,#3e9b47 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #249624 0%,#30ad29 49%,#2aaf47 57%,#3e9b47 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#249624', endColorstr='#3e9b47',GradientType=0 ); /* IE6-9 */

    font-family: Verdana, sans-serif !important;
    color: #ffffff !important;
    font-weight:bolder !important;
    font: bold 100.5% "Trebuchet MS", sans-serif !important;
    height: 48px !important;
    text-shadow:0px 0px 0 rgb(190,190,190),-1px 1px 0 rgb(149,149,149),-2px 2px 0 rgb(107,107,107),-3px 3px 0 rgb(66,66,66), -4px 4px 0 rgb(25,25,25),-5px 5px 4px rgba(0,0,0,0.45),-5px 5px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2) !important;

}

.footer_bar{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#898b8e+0,757575+51,757575+54,363636+100 */
    background: #898b8e; /* Old browsers */
    background: -moz-linear-gradient(top,  #898b8e 0%, #757575 51%, #757575 54%, #363636 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #898b8e 0%,#757575 51%,#757575 54%,#363636 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #898b8e 0%,#757575 51%,#757575 54%,#363636 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#898b8e', endColorstr='#363636',GradientType=0 ); /* IE6-9 */

    font-family: Verdana, sans-serif !important;
    color: #ffffff !important;
    font-weight:bolder !important;
    font: bold 100.5% "Trebuchet MS", sans-serif !important;
    height: 48px !important;
    text-shadow:0px 0px 0 rgb(190,190,190),-1px 1px 0 rgb(149,149,149),-2px 2px 0 rgb(107,107,107),-3px 3px 0 rgb(66,66,66), -4px 4px 0 rgb(25,25,25),-5px 5px 4px rgba(0,0,0,0.45),-5px 5px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2) !important;

}